# --- App Settings ---
APP_NAME=MiniTMS
DEBUG=True

# --- Security ---
SECRET_KEY=change_this_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30

# --- Database ---
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/minitms

# --- Trans.eu Scraping ---
TRANS_EU_USERNAME=1224705-1
TRANS_EU_PASSWORD=@@Jhznpf1!@@
HEADLESS_MODE=False
